version: "3.9"

services:
  mongo:
    image: mongo:7
    volumes:
      - mongo_data:/data/db
    ports:
      - "27019:27017"
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 5s
      timeout: 5s
      retries: 5

  backend_login:
    image: node:20-alpine
    working_dir: /app
    volumes:
      - ./apis:/app
    command: sh -c "npm install && node server.js"
    ports:
      - "7777:7777"
    environment:
      - MONGO_URI=mongodb://mongo:27017/login
    env_file:
      - ./apis/.env
    depends_on:
      mongo:
        condition: service_healthy

volumes:
  mongo_data:
